<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ajs-ngRepeat</title>
    
    <!-- buoc 1. nhung thu vien angularjs theo link CDN vo trang web -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>
    <h2>AJS - ngRepeat demo - version 2</h2>
    <hr>
    <!-- ng-init:khoi tao bien  -->
    <div ng-app ng-init="ds=['cacao','coca cola', 'pepsi cola','dried chicken', 'snack']; ">
        <h4>Danh sach san pham</h4>

        <select ng-model='product'>
            <option ng-repeat='item in ds'>{{item}}</option>
        </select>

        <p>San phan duoc chon : {{product}}</p>

    </div>
</body>
</html>